.imgaccount img{

   height: 10rem;
   border-radius: 200px;
   border: 5px solid rgb(0, 0, 0);
   /* box-shadow: 5px 5px 5px 5px rgb(218, 218, 218); */
}
.imgaccount{


    /* border: 2px solid red; */
    margin-top: 20px;
   
}
.imgaccount span{

    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    /* border: 2px solid red; */

}
.imgaccount button{

    width: 50%;
    margin-top: 10px;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    font-weight: 500;
    color: white;
    height: 30px;
    box-shadow: 5px 5px rgb(208, 206, 206);
    border-radius: 5px;

} 

.btn{


    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.id{

    display: flex;
    justify-content: center;
    font-weight: 500;
    /* border: 2px solid blue; */
}
.Account{

    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border: 2px solid red; */
    /* border: 2px solid black; */
}
.revenueshow{

    /* border: 2px solid red; */
    width: 30%;
    margin-left: 20px;
}
.withtraw{

    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    width: 40%;
    margin-top: 20px;
    color: white;
    height: 60px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(232, 232, 232);
    /* background-color: blue; */
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
}
.withtraw label{

    margin-top: 10px;
    font-size: larger;
}
.withtraw span{
    margin-left: 10px;
    margin-top: 10px;
    font-size: larger;
}
.withtraw button{
    margin-left: 20%;
    /* background-color: green; */
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    height: 30px;
    margin-top: 10px;
    width: 25%;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-weight: 500;
    font-size: larger;
    border-radius: 5px;
}
.withtraw1{
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(0, 0, 0); */
    
    
}
.oneday{
    
    /* border: 2px solid black; */
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
    margin-left: 20px;
    margin-top: 20px;
    height: 90px;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    font-size: larger;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgb(195, 195, 195);
}
.sevenday{
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    /* background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% ); */
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    height: 90px;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    font-size: larger;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgb(195, 195, 195);

}
.onemonth{

    /* border: 2px solid black; */
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
    margin-left: 20px;
    margin-top: 20px;
    height: 90px;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    font-size: larger;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgb(195, 195, 195);

}
.oneday img{
    height: 20px;
    margin-top: 4px;
    color: rgb(241, 241, 241);
 
}
.sevenday img{
    height: 20px;
    margin-top: 4px;
     color: rgb(241, 241, 241);

}
.onemonth img{
    height: 20px;
   margin-top: 4px;
    color: rgb(241, 241, 241);

}

@media only screen and (max-width: 568px){


    .Account{
        display: block;
    }
    .imgaccount{
        
    }
    .imgaccount img{

        /* margin-left: 90px; */
        height: 10rem;


    }
    .revenueshow{

        width: 90%;
        margin-left: 5px;
    }
    .oneday{
        height: 70px;
    }
    .sevenday{
        height: 70px;
    }
    .onemonth{
        height: 70px;

    }
    .image-1{
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    .imgaccount button{
        width: 30%;
    }
    .withtraw{
        width: 83%;
        display: block;
        height: 70px;
    }
    .withtraw span{
        margin-left: 5px;
    }
    .withtraw {
        padding-left: 10px;
        
    }
    .withtraw button{
        margin-left: 150px;
    }

}